body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11 {
  position:absolute;
  left:0px;
  top:52px;
  width:1211px;
  height:848px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:848px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:848px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:848px;
}
#u13 {
  position:absolute;
  left:2px;
  top:416px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:123px;
  top:495px;
  width:121px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:367px;
  top:443px;
  width:67px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:848px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:848px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:848px;
}
#u17 {
  position:absolute;
  left:2px;
  top:416px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:93px;
  top:581px;
  width:81px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:271px;
  top:581px;
  width:64px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:601px;
  top:454px;
  width:81px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:601px;
  top:589px;
  width:81px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:355px;
  top:546px;
  width:72px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:277px;
  top:496px;
  width:71px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:196px;
  top:674px;
  width:78px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:390px;
  top:461px;
  width:78px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:708px;
  top:451px;
  width:78px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:694px;
  top:577px;
  width:78px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:52px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:52px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:1207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:52px;
}
#u30 {
  position:absolute;
  left:1211px;
  top:0px;
  width:389px;
  height:52px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:848px;
}
#u32 {
  position:absolute;
  left:1211px;
  top:52px;
  width:389px;
  height:848px;
}
#u33 {
  position:absolute;
  left:2px;
  top:416px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1246px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:1361px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:1476px;
  top:0px;
  width:124px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:1131px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:1031px;
  top:0px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
