body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:53px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:53px;
}
#u133 {
  position:absolute;
  left:2px;
  top:18px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1246px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  position:absolute;
  left:1361px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  position:absolute;
  left:1476px;
  top:0px;
  width:124px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:1131px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  position:absolute;
  left:1031px;
  top:0px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  position:absolute;
  left:0px;
  top:53px;
  width:1600px;
  height:822px;
  overflow:hidden;
}
#u139_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:822px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1602px;
  height:958px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:1602px;
  height:958px;
}
#u141 {
  position:absolute;
  left:2px;
  top:471px;
  width:1598px;
  visibility:hidden;
  word-wrap:break-word;
}
