body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u122 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1246px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  position:absolute;
  left:1361px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  position:absolute;
  left:1476px;
  top:0px;
  width:124px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:1131px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:1031px;
  top:0px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
