body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u167 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1246px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u169 {
  position:absolute;
  left:1361px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u170 {
  position:absolute;
  left:1476px;
  top:0px;
  width:124px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u171 {
  position:absolute;
  left:1131px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u172 {
  position:absolute;
  left:1031px;
  top:0px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
