body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u36 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1246px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:1361px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:1476px;
  top:0px;
  width:124px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:1131px;
  top:0px;
  width:115px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:1031px;
  top:0px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:20px;
  top:66px;
  width:112px;
  height:30px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background-color:#045C84;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
}
#u42_input:disabled {
  color:grayText;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(4, 92, 132, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:1415px;
  top:66px;
  width:112px;
  height:30px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
